@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;
  top: 25vh; */
  height: 100%;
  position: absolute;
  width: 100%;
}
.container {
  background: hsl(221, 100%, 96%);
  display: flex;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.sideone,
.sidetwo {
  background: linear-gradient(180deg, #7857ff, #2e2be9);
  border-radius: 28px;
  height: 53vh;
  width: 19em;
  text-align: center;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  color: white;
}

.result,
.numbers,
.get,
.upperPara,
.para,
.sidetwo h4 {
  position: relative;
}
.result,
.sidetwo h4 {
  font-size: 37px;
  top: 4vh;
}
.numbers {
  top: 12vh;
  width: 50%;
  left: 27%;
  border-radius: 66%;
  height: 35%;
  /* background: linear-gradient(to top, #3333ff 46%, #003399 100%); */
  background: linear-gradient(180deg, #4e21ca, rgba(36, 33, 202, 0));
}
.get {
  font-size: 92px;
  top: 2vh;
}
.totals {
  font-size: 15px;
}
.upperPara {
  top: 30%;
  font-size: 3rem;
}
.para {
  top: 32%;
  width: 11em;
  left: 6em;
  font-size: 15px;
}
.sidetwo {
  background: hsl(221, 100%, 96%);
  color: black;
}
.sidetwo h4 {
  text-align: start;
  font-size: 30px;
  left: 1vw;
}
.outputResults {
  position: relative;
  top: 10vh;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}
.outputOne,
.outputTwo,
.outputThree,
.outputFour {
  padding: 12px;
  overflow: auto;
  border-radius: 13px;
  margin-bottom: 16px;
  width: 14em;
}
.outputOne {
  background: hsl(0, 100%, 91%);
}
.outputTwo {
  background: hsl(53, 100%, 91%);
}
.outputThree {
  background: hsl(119, 100%, 91%);
}
.outputFour {
  background: hsl(241, 100%, 85%);
}
.numone,
.numtwo,
.numthree,
.numfour {
  float: right;
}
.nameone,
.nametwo,
.namethree,
.namefour {
  float: left;
}
.nameone {
  color: hsl(0, 100%, 67%);
}
.nametwo {
  color: hsl(39, 100%, 56%);
}
.namethree {
  color: hsl(166, 100%, 37%);
}
.namefour {
  color: hsl(234, 85%, 45%);
}
.icon {
  float: left;
  position: relative;
  top: 2px;
  right: 5px;
}
.sumbit {
  position: relative;
  top: 29%;
  width: 18em;
  border-radius: 50px;
  padding: 16px;
  border: 1px solid blue;
  color: white;
  background-color: hsl(234, 85%, 45%);
  cursor: pointer;
}
.sumbit:active {
  background-color: hsl(241, 14%, 34%);
}
footer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
}

@media only screen and (max-width: 412px) {
  .container {
    display: block;
    top: 1rem;
    position: absolute;
    width: 100%;
  }
  .sideone,
  .sidetwo {
    width: 100%;
  }
  .sideone {
    height: 45vh;
    position: absolute;
    top: -1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .numbers {
    top: 6vh;
    width: 48%;
    height: 41%;
  }
  .upperPara {
    top: 5.5rem;
  }
  .para {
    width: 69%;
    font-size: 4vmin;
    left: 4.5rem;
    top: 11vh;
  }
  .sidetwo {
    top: 22em;
    position: absolute;
    height: 44vh;
  }
  .sidetwo h4 {
    top: 2vh;
    font-size: 3vmax;
  }
  .outputResults {
    top: 5vh;
  }
  .sumbit {
    position: absolute;
    top: 87%;
    right: 50%;
    transform: translate(50%);
  }
}
